HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

*.jpg
received_*.jpg

# OpenCV test images
src/main/resources/test_images/*.jpg
src/main/resources/test_images/*.png
src/main/resources/test_images/*.jpeg

# ======================
# Frontend Environment
# ======================

# backend/root env
.env
.env.*

# frontend env
frontend/.env
frontend/.env.*

# keep example files
!.env.example
!frontend/.env.example

# 예시 파일은 허용
!.env.example
!frontend/**/.env.example


# ======================
# Vue
# ======================
node_modules/
frontend/**/node_modules/

frontend/agv-dashboard/.vite/
frontend/agv-dashboard/node_modules/
frontend/agv-dashboard/dist/

dist/
frontend/**/dist/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Environment ###
.env
.env.example
*.env

### Application config with secrets ###
application-local.yml
application-local.properties
application-secret.yml
application-secret.properties
application.properties

# AI prompt
src/main/resources/ai/*.txt

### Logs ###
logs/
*.log

### OS ###
.DS_Store
Thumbs.db

### Docker ###
docker/mysql/data/
docker/redis/data/
docker/mosquitto/data/
docker/mosquitto/log/

### Node / Vue ###
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
